# Gradle
.gradle/
build/
/build/

# IDEs
.idea/
*.iml
*.iws
*.ipr
out/
/out/
.vscode/

# Eclipse
bin/
.classpath
.project
.settings/
*.launch

# OS Files
.DS_Store
Thumbs.db

# Logs and runtime
logs/
/logs/
run/
/run/
crash-reports/

# Temporary / Scratch Files
/scratch/
/cfr_output/
/cfr_reeses/
cfr.jar
*.tmp
/*.java